//Process to add new pages:
  1. Create the jade file
  2. Add the links wherever necessary
  3. Add it in routes
  4. Add it in app.get()



doctype 5
html

  head
    title SuperSemoir
    include headerFiles.jade

  body
    include navBarMain.jade

 // div.myCarousel.carousel.slide
    ol.carousel-indicators
        li.active(data-target='#myCarousel', data-slide-to='0')
        li(data-target='#myCarousel', data-slide-to='1')
        li(data-target='#myCarousel', data-slide-to='2')
       .carousel-inner
          .item.active
            img(src='/images/senegalTeam.jpg')
             .container
                .carousel-caption
                    h1 SuperDuperSuperDuperSemoir
                    p
                        | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
          .item
            img(src='/images/senegalTeam.jpg')
             .container
                .carousel-caption
                    h1 Another example headline.
                    p
                        | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                    p
                        a.btn.btn-large.btn-primary(href='#') Learn more
           .item
             img(src='/images/senegalTeam.jpg')
             .container
                .carousel-caption
                    h1 One more for good measure.
                    p
                        | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                    p
                        a.btn.btn-large.btn-primary(href='#') Browse gallery
     a.left.carousel-control(href='#myCarousel', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left
     a.right.carousel-control(href='#myCarousel', data-slide='next')
        span.glyphicon.glyphicon-chevron-right
    .carousel



//div.myCarousel.carousel.slide
      ol.carousel-indicators
        li.active(data-target='#myCarousel', data-slide-to='0')
        li(data-target='#myCarousel', data-slide-to='1')
        li(data-target='#myCarousel', data-slide-to='2')
        li(data-target='#myCarousel', data-slide-to='3')
      .carousel-inner
        .item
          img(src='/images/senegalTeam.jpg', alt="First Slide")
          .container
            .carousel-caption
              h1 SuperSemoirs
              p
                |We killin' the game.
        .item.active
          img(src='/images/SScover.png', alt="Second Slide")
          .container
            .carousel-caption
              h1 Match your passion
              p
                | Find companies through questions they ask. Discover your passion through challenges you naturally gravitate towards.
              p
                a.btn.btn-lg.btn-primary(href='#', role='button') Learn more
        .item
          img(src='img/privacy.jpg', alt="Third Slide")
          .container
            .carousel-caption
              h1 Anonymously Visible
              p
                | Companies are blind to the students' identities. Students are blind to the identities of the companies.
              p
                a.btn.btn-lg.btn-primary(href='#', role='button') Browse gallery
        .item
          img(src='img/privacy.jpg', alt="Third Slide")
          .container
            .carousel-caption
              h1 Anonymously Visible
              p
                | Companies are blind to the students' identities. Students are blind to the identities of the companies.
              p
                a.btn.btn-lg.btn-primary(href='#', role='button') Browse gallery
      a.left.carousel-control(href='#myCarousel', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left
      a.right.carousel-control(href='#myCarousel', data-slide='next')
        span.glyphicon.glyphicon-chevron-right
      .carousel

div#home.slide.fullscreen
      div.banner SuperSemoir
        hr.line-banner
        div.slide-banner-motto d.Extreme Farmers yay
    div#projectDescription.slide.bg1
      div.slide-header
        div.slide-title - The Project -
      div.arrow-down
      div.slide-content
        div.container
          div.slide-description-about We are developing a product to enable farmers in West Africa to use fertilizer in their fields.  Microdose fertilization has been shown to increase crop yields by between 50% and 200% compared to the current paradigm of no fertilizer use. However, almost no farmers can afford to fertilize - broadcasting is too expensive and wasteful, and microdosing is too labor-intensive. <br><br> <strong> We are changing that<strong/>.
    div#users.slide.bg2
      div.slide-header
        div.slide-title - Our Users -
      div.arrow-down
      div.slide-content
        div.container
          div.row
            div.col-sm-4
              div.card
                div.card-info
                  div.card-image
                    img(src='/images/scaledBubufal.png')
                //div.card-nav
                  <a class = "btn btn-block btn-danger" role = "button" href = "/programs/socialEChallenge"> Social E-Challenge </a>
                  <a class = "btn btn-block btn-danger" role = "button" href = "/programs/eChallenge"> E-Challenge </a>
                  <a class = "btn btn-block btn-danger" role = "button" href = "/programs/productShowCase"> Product Showcase</a>
            div.col-sm-4
              div.card
                div.card-info
                  div.card-image
                    img(src='/images/scaledCowFarmer.png')
                //div.card-content The premiere international conference for student entrepreneurs with up-and-coming startups to learn and network through panels, workshops, expos and a final pitch competition.
                //div.card-nav
                  <a class = "btn btn-block btn-danger" role = "button" href = "/programs/eBootCamp"> E-Bootcamp </a>
            div.col-sm-4
              div.card
                div.card-info
                   div.card-image
                     img(src='/images/scaledUsers1.png')
                //  <a class = "btn btn-block btn-danger" role = "button" href = "/programs/etl"> ETL </a>	
            //hr.divider
    div.container
      div.slide-description-about Resiliant but fatigued farmers with expansive barren fields need a means to make fertilizer adoption feasiable in order to improve yields and free their families from the pervasive burden of hunger.
      //div.slide-content
        div.container
          div.slide-description-about Resiliant but fatigued farmers with expansive barren fields need a means to make fertilizer adoption feasiable in order to improve yields and free their families from the pervasive burden of hunger.        
          
    div#solution.slide.bg1
      div.slide-header
        div.slide-title - The Solution -
      div.arrow-down
      div.slide-content
        div.container
          div.row
            div.col-md-6
              div.card
                div.card-info
                  div.card-title Microdose Fertilization
                  div.card-content BASES was founded in 1996 by a group of five Stanford students with the aim of bringing together the worlds of engineering, innovation and business together. Over the years, BASES has grown from a platform to celebrate and reward student entrepreneurs with fantastic business ideas to the multi-faceted organization it is today that seeks to educate, inspire and fund the entrepreneurs of tomorrow.
                div.card-nav
                  <a class = "btn btn-block btn-danger" role = "button" href = "/history/alumni"> Alumni </a>
            div.col-md-6
              div.card
                div.card-info
                  div.card-title Past Winners
                  div.card-content Winners of the BASES Challenge have gone on to disrupt the technology, nonprofit and education spheres.
                div.card-nav
                  <a class = "btn btn-block btn-danger" role = "button" href = "/history/pastWinners"> Past Winners </a>

    div#team.slide.bg2
      div.slide-header
        div.slide-title - The Team -
      div.arrow-down
      div.slide-content
        div.container
          div.row
            div.col-sm-1
            div.col-sm-2
              div.card
                div.card-info
                  div.card-image
                    img(src='/images/kelly_profile.png')
                    div.card-title Kelly LaBAMF
                    div.card-content <strong>B.S. Mechanical Engineering 2014<strong/>
            div.col-sm-2
              div.card
                div.card-info
                  div.card-image
                    img(src='/images/matt_profile2.png')
                    div.card-title Matt Hoang
                    div.card-content <strong>B.S. Product Design 2014<strong/>            
            div.col-sm-2
              div.card
                div.card-info
                  div.card-image
                    img(src='/images/alex_profile.png')
                    div.card-title Alex Lin
                    div.card-content <strong>B.S. Mechanical Engineering 2014<strong/>            
             div.col-sm-2
              div.card
                div.card-info
                  div.card-image
                    img(src='/images/joy_profile.png')
                    div.card-title Joy Basu
                    div.card-content <strong>J.D./MBA 2015<strong/>            
             div.col-sm-2
              div.card
                div.card-info
                  div.card-image
                    img(src='/images/isabella_profile.png')
                    div.card-title Isabella Akker
                    div.card-content <strong>M.S. Earth Systems 2014<strong/>         


    div#partners.slide.bg2
      div.slide-header
        div.slide-title - Partners -
      div.arrow-down
      div.slide-content
        div.container
          div.row
            div.col-md-6
              div.card
                div.card-info
                  div.card-title Sponsors
                  div.card-content We would like to thank our sponsors for their continued support of our programs.
                div.card-nav
                  <a class = "btn btn-block btn-danger" role = "button" href = "/partners/sponsors"> Sponsors </a>
            div.col-md-6
              div.card
                div.card-info
                  div.card-image
                    img(src="/images/myAgro_logo.png")
                  div.card-content The BASES Board of Advisors is a group of industry innovators, thought leaders and BASES alumni, advising leadership on methods and best practices to best to uphold the BASES mission.
                div.card-nav
                  <a class = "btn btn-block btn-danger" role = "button" href = "/partners/boardOfAdvisors"> Board of Advisors </a>
        div.container
          div.row
           div.col-lg-6
            div.card
              div.card-info
                div.card-image
                  a(href="http://prl.stanford.edu")
                    img(src='/images/PRL_LOGO_Big.png')
           div.col-lg-6
            div.card
              div.card-info
                div.card-image
                  a(href = "http://prl.stanford.edu")
                   img(src='/images/dave_and_craig.jpg')
                div.card-content Special thanks to Craig Milroy, Dave Beach, and the PRL Team!


    include footerFiles.jade
