div.navbar.navbar-inverse.navbar-fixed-top
    div.collapse.navbar-collapse
      ul.nav
        li
          a.navbarLogo(href='#home')
            img(src='/images/SuperSemoirLogo.png')
      ul.nav
        li
          a(href='#programs') Project Description
          ul
            li
              a(href='#programs') Stanford d.Extreme Class
              ul
                li
                  a(href='/programs/productShowcase') First Prototype
                li
                  a(href='/programs/productShowcase') Second Prototype
                li
                  a(href='/programs/productShowCase') Final Prototype Expo
            li
              a(href='/programs/eBootCamp') Social E 
            
        li
          a(href='/team/team') Current Team
          
        li
          a(href='#getInvolved') Funders and Partners
          ul
            li
              a(href='/getInvolved/careerFairs') Career Fairs
            li
              a(href='#getInvolved') Digest
            li
              a(href='#getInvolved') Registration
        li
          a(href='#media') Updates
          ul
            li
              a(href='/media/events') Events
            li
              a(href='/media/inTheNews') In the News
            li
              a(href='/media/brandingGuidelines') Branding Guidelines
        li
          a(href='/blog') Contact Us!

        